* {
    margin: 0;
    padding: 0;
}

/* 顶部 */
.banner {
    width: 100%;
    height: 80px;
    color: rgb(252, 252, 252);
    background-color: rgba(64, 158, 255, 0.9);
}

.banner .title {
    line-height: 80px;
    font-size: 30px;
    padding-left: 10px;
}

.welcome {
    position: absolute;
    right: 80px;
    top: 35px;
    font-size: 13px;
    color: rgb(252, 252, 252);
}

.logout {
    position: absolute;
    right: 20px;
    top: 35px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(252, 252, 252);
}

.logout:hover {
    color: rgb(104, 103, 103);
}

/*!* 侧边栏 *!*/
/*.sideBar {*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    height: 195px;*/
/*    cursor: pointer;*/
/*    border: solid 1px rgb(207, 207, 207);*/
/*    border-radius: 5px;*/
/*    !* background-color: rgb(87, 229, 153); *!*/
/*    margin: 50px 0 0 20px;*/
/*}*/

/*.sideBar ul li {*/
/*    height: 32px;*/
/*    list-style: none;*/
/*    line-height: 30px;*/
/*    border-bottom: solid 1px rgb(207, 207, 207);*/
/*    padding-left: 3px;*/
/*}*/

/*.sideBar ul li:last-child {*/
/*    border-bottom: none;*/
/*}*/

/* 主体 */
.container {
    display: flex;
}

.showInfo {
    width: 1290px;
    height: 500px;
    /* border-radius: 5px; */
    margin: 25px 10px 0 10px;
}

/*.searchArea {*/
/*    height: 93px;*/
/*    !* border: solid 1px rgb(195, 195, 195); *!*/
/*}*/

/*.searchTitle {*/
/*    height: 35px;*/
/*    line-height: 35px;*/
/*    border-radius: 5px 5px 0 0;*/
/*    border: solid 1px rgb(207, 207, 207);*/
/*    background-color: rgb(231, 231, 231);*/
/*    padding-left: 5px;*/
/*}*/

/*.search {*/
/*    display: flex;*/
/*    height: 55px;*/
/*    line-height: 55px;*/
/*    border-radius: 0 0 5px 5px;*/
/*    border: solid 1px rgb(207, 207, 207);*/
/*}*/

/*label {*/
/*    padding-left: 5px;*/
/*    font-size: 13px;*/
/*    font-family: 阿里巴巴普惠体, serif;*/
/*}*/

/*input {*/
/*    outline-style: none;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    padding: 10px 0;*/
/*    width: 180px;*/
/*    font-size: 12px;*/
/*}*/

/*input:focus {*/
/*    border-color: #66afe9;*/
/*    outline: 0;*/
/*    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);*/
/*    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)*/
/*}*/

.adminInfo {
    width: 1100px;
    border: solid 1px rgb(207, 207, 207);
    text-align: center;
    border-radius: 5px;
    margin-top: 40px;
}

.adminInfo th {
    height: 40px;
    border-bottom: solid 1px rgb(207, 207, 207);
}

.adminInfo td {
    height: 40px;
}