* {
    margin: 0;
    padding: 0;
}

/* 顶部 */
.banner {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: rgb(210, 246, 237);
    background-color: rgba(30, 204, 149, 1);
}

.banner span {
    padding-left: 10px;
}

.logout{
    position: absolute;
    right: 20px;
    top: 35px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(252, 252, 252);
}

.logout:hover {
    color: rgb(104, 103, 103);
}


/* 主体 */
.container {
    display: flex;
}

.showInfo {
    display: inline-block;
    width: 1100px;
    height: 500px;
    /* border-radius: 5px; */
    margin: 25px 0 0 20px;
}

.searchArea {
    height: 93px;
    /* border: solid 1px rgb(195, 195, 195); */
}


input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 0;
    width: 180px;
    font-size: 12px;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.adminInfo {
    width: 1100px;
    border: solid 1px rgb(207, 207, 207);
    text-align: center;
    border-radius: 5px;
    margin-top: 40px;
}

.adminInfo th {
    height: 40px;
    border-bottom: solid 1px rgb(207, 207, 207);
}

.adminInfo td {
    height: 40px;
}