<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生宿舍信息管理系统</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="element-ui/lib/index.js"></script>

    <link rel="stylesheet" type="text/css" href="css/user-admin.css">
    <!--element样式-->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

</head>

<body>
    <!-- 顶部 -->
    <div class="banner">
        <span>学生宿舍信息管理系统</span>
        <a href="http://localhost:8080/login.html" class="logout">退出登录</a>
    </div>
    <!-- 主体 -->
    <div class="container" id="container">

            <el-row class="tac" style="margin:30px 0 0 20px">
                <el-col :span="50">
                    <el-menu
                            default-active="1"
                            class="el-menu-vertical-demo">

                        <el-menu-item index="1" @click="change1()">
                            <i class="el-icon-menu"></i>
                            <span slot="title">学生管理</span>
                        </el-menu-item>

                        <el-menu-item index="2" @click="change2()">
                            <i class="el-icon-menu"></i>
                            <span slot="title">财产管理</span>
                        </el-menu-item>

                        <el-menu-item index="3" @click="change3()">
                            <i class="el-icon-menu"></i>
                            <span slot="title">访客登记</span>
                        </el-menu-item>

                        <el-menu-item index="4" @click="change4()">
                            <i class="el-icon-menu"></i>
                            <span slot="title">物品审核</span>
                        </el-menu-item>
<!--                        <el-menu-item-group index="3">-->
<!--                            <template slot="title">出入登记</template>-->
<!--                            <el-menu-item index="3-1">访客登记</el-menu-item>-->
<!--                            <el-menu-item index="3-2">物品审核</el-menu-item>-->
<!--                        </el-menu-item-group>-->

                        <el-menu-item index="5" @click="change5()">
                            <i class="el-icon-menu"></i>
                            <span slot="title">报修管理</span>
                        </el-menu-item>

                        <el-menu-item index="6" @click="change6()">
                            <i class="el-icon-menu"></i>
                            <span slot="title">费用明细</span>
                        </el-menu-item>

                    </el-menu>
                </el-col>

            </el-row>
<!--        </div>-->
        <!-- 信息展示 -->
        <div class="showInfo" v-show="count == 1">
            <el-form :inline="true" :model="stuInfoByCondition" class="demo-form-inline">
                <el-form-item label="学号">
                    <el-input v-model="stuInfoByCondition.sno" placeholder="输入学号搜索"></el-input>
                </el-form-item>
                <el-form-item label="宿舍号">
                    <el-input v-model="stuInfoByCondition.departmentId" placeholder="输入宿舍号搜索"></el-input>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input v-model="stuInfoByCondition.name" placeholder="输入姓名搜索"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="onSubmit">查询</el-button>
                </el-form-item>

            </el-form>

            <el-row>
                <el-button type="primary" plain @click="onShow()">新增信息</el-button>
                <el-button type="danger" plain>批量删除</el-button>
            </el-row>
                <!--添加对话框表单-->
                <el-dialog
                        title="新增学生信息"
                        :visible.sync="dialogVisible"
                        width="30%">

                    <!--对话框内容-->
                    <el-form  :model="stuInfo" label-width="80px" :rules="rules" ref="stuInfo">
                        <el-form-item label="学号" prop="sno">
                            <el-input v-model="stuInfo.sno"></el-input>
                        </el-form-item>

                        <el-form-item label="宿舍号" prop="departmentId">
                            <el-input v-model="stuInfo.departmentId"></el-input>
                        </el-form-item>

                        <el-form-item label="姓名" prop="name">
                            <el-input v-model="stuInfo.name"></el-input>
                        </el-form-item>

                        <el-form-item label="专业" prop="major">
                            <el-input v-model="stuInfo.major"></el-input>
                        </el-form-item>

                        <el-form-item label="性别" prop="gender">
                            <el-input v-model="stuInfo.gender"></el-input>
                        </el-form-item>

                        <el-form-item label="联系电话" prop="tel">
                            <el-input v-model="stuInfo.tel"></el-input>
                        </el-form-item>

                        <el-form-item align="center">
                            <el-button type="primary" @click="addStuInfo('stuInfo')">提交</el-button>
                            <el-button @click="closeDialog()">取消</el-button>
                        </el-form-item>

                    </el-form>
                </el-dialog>



            <div class="searchResults">
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="tableData"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="sno"
                                label="学号"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="departmentId"
                                label="宿舍号"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="major"
                                label="专业"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="gender"
                                label="性别"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="tel"
                                label="电话号码"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                align="center"
                                show-overflow-tooltip>
                            <template slot-scope="scope">
                                <el-row>
                                    <el-button type="primary" @click="editInfo(scope.$index,scope.row);dialogFormVisible=true">编辑</el-button>

                                    <el-button type="danger" @click="isVisible(scope.row)">删除</el-button>

                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!--编辑学生信息对话框-->
                    <el-dialog
                            title="编辑学生信息"
                            :visible.sync="dialogFormVisible"
                            width="30%">

                        <!--对话框内容-->
                        <el-form ref="form" :model="editStu" label-width="80px">
                            <el-form-item label="学号" >
                                <el-input v-model="editStu.sno"></el-input>
                            </el-form-item>

                            <el-form-item label="宿舍号">
                                <el-input v-model="editStu.departmentId"></el-input>
                            </el-form-item>

                            <el-form-item label="姓名">
                                <el-input v-model="editStu.name"></el-input>
                            </el-form-item>

                            <el-form-item label="专业">
                                <el-input v-model="editStu.major"></el-input>
                            </el-form-item>

                            <el-form-item label="性别">
                                <el-input v-model="editStu.gender"></el-input>
                            </el-form-item>

                            <el-form-item label="联系电话">
                                <el-input v-model="editStu.tel"></el-input>
                            </el-form-item>

                            <el-form-item align="center">
                                <el-button type="primary" @click="editStuInfo">提交</el-button>
                                <el-button>取消</el-button>
                            </el-form-item>

                        </el-form>
                    </el-dialog>

                    <!--删除学生信息对话框-->
                    <el-dialog
                            title="提示"
                            :visible.sync="centerDialogVisible"
                            width="30%"
                            center>
                        <span>此操作将永久删除该行信息, 是否继续?</span>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="centerDialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="deleteStuInfo">确 定</el-button>
                        </span>
                    </el-dialog>
                </template>
            </div>
            <!--分页工具条-->

            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="100"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
            </el-pagination>
        </div>
        <div class="showInfo" v-show="count == 2">
            <el-row>
                <el-button type="primary" plain @click="onShow2()">新增信息</el-button>
                <el-button type="danger" plain>批量删除</el-button>
            </el-row>
            <!--添加对话框表单-->
            <el-dialog
                    title="新增信息"
                    :visible.sync="dialogVisible2"
                    width="30%">

                <!--对话框内容-->
                <el-form ref="form" :model="propertyInfo" label-width="80px">
                    <el-form-item label="学号" >
                        <el-input v-model="propertyInfo.sno"></el-input>
                    </el-form-item>

                    <el-form-item label="宿舍号">
                        <el-input v-model="propertyInfo.departmentId"></el-input>
                    </el-form-item>

                    <el-form-item label="姓名">
                        <el-input v-model="propertyInfo.name"></el-input>
                    </el-form-item>

                    <el-form-item label="专业">
                        <el-input v-model="propertyInfo.major"></el-input>
                    </el-form-item>

                    <el-form-item label="性别">
                        <el-input v-model="propertyInfo.gender"></el-input>
                    </el-form-item>

                    <el-form-item label="联系电话">
                        <el-input v-model="propertyInfo.tel"></el-input>
                    </el-form-item>

                    <el-form-item align="center">
                        <el-button type="primary" @click="addStuInfo">提交</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>

                </el-form>
            </el-dialog>



            <div class="searchResults">
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="tableData2"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="departmentId"
                                label="宿舍号"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="major"
                                label="专业"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="gender"
                                label="性别"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="tel"
                                label="电话号码"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                align="center"
                                show-overflow-tooltip>
                            <template slot-scope="scope">
                                <el-row>
                                    <el-button type="primary" @click="editInfo(scope.$index,scope.row);onShow2()">编辑</el-button>

                                    <el-button type="danger" @click="isVisible(scope.row);onShowDelete()">删除</el-button>

                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!--编辑学生信息对话框-->
                    <el-dialog
                            title="编辑学生信息"
                            :visible.sync="dialogFormVisible2"
                            width="30%">

                        <!--对话框内容-->
                        <el-form ref="form" :model="editStu" label-width="80px">
                            <el-form-item label="学号" >
                                <el-input v-model="editStu.sno"></el-input>
                            </el-form-item>

                            <el-form-item label="宿舍号">
                                <el-input v-model="editStu.departmentId"></el-input>
                            </el-form-item>

                            <el-form-item label="姓名">
                                <el-input v-model="editStu.name"></el-input>
                            </el-form-item>

                            <el-form-item label="专业">
                                <el-input v-model="editStu.major"></el-input>
                            </el-form-item>

                            <el-form-item label="性别">
                                <el-input v-model="editStu.gender"></el-input>
                            </el-form-item>

                            <el-form-item label="联系电话">
                                <el-input v-model="editStu.tel"></el-input>
                            </el-form-item>

                            <el-form-item align="center">
                                <el-button type="primary" @click="editStuInfo">提交</el-button>
                                <el-button>取消</el-button>
                            </el-form-item>

                        </el-form>
                    </el-dialog>

                    <!--删除学生信息对话框-->
                    <el-dialog
                            title="提示"
                            :visible.sync="centerDialogVisible2"
                            width="30%"
                            center>
                        <span>此操作将永久删除该行信息, 是否继续?</span>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="centerDialogVisible2 = false">取 消</el-button>
                            <el-button type="primary" @click="deleteStuInfo">确 定</el-button>
                        </span>
                    </el-dialog>
                </template>
            </div>
        </div>
        <div class="showInfo" v-show="count == 3">
            <el-row>
                <el-button type="primary" plain @click="onShow3()">新增信息</el-button>
            </el-row>
            <!--添加对话框表单-->
            <el-dialog
                    title="新增访客信息"
                    :visible.sync="dialogVisible3"
                    width="30%">

                <!--对话框内容-->
                <el-form ref="form" :model="visitorInfo" label-width="80px">

                    <el-form-item label="姓名">
                        <el-input v-model="visitorInfo.visitor"></el-input>
                    </el-form-item>

                    <el-form-item label="性别">
                        <el-input v-model="visitorInfo.gender"></el-input>
                    </el-form-item>

                    <el-form-item label="事由">
                        <el-input v-model="visitorInfo.reason"></el-input>
                    </el-form-item>

                    <el-form-item label="联系电话">
                        <el-input v-model="visitorInfo.tel"></el-input>
                    </el-form-item>

                    <el-form-item label="日期">
                        <el-date-picker type="date" placeholder="选择日期" v-model="visitorInfo.date" style="width: 100%;"></el-date-picker>
                    </el-form-item>

                    <el-form-item align="center">
                        <el-button type="primary" @click="addVisitorInfo">提交</el-button>
                        <el-button @click="closeDialog3()">取消</el-button>
                    </el-form-item>

                </el-form>
            </el-dialog>



            <div class="searchResults">
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="tableData3"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="visitor"
                                label="访客姓名"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="gender"
                                label="性别"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="reason"
                                label="事由"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="tel"
                                label="电话号码"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="date"
                                label="日期"
                                align="center">
                        </el-table-column>

                    </el-table>
                </template>
        </div>
        </div>
        <div class="showInfo" v-show="count == 4">
            444444444444444
        </div>
        <div class="showInfo" v-show="count == 5">
            5555555555555
        </div>
        <div class="showInfo" v-show="count == 6">
            66666666666666
        </div>
    </div>
    <script>
        new Vue({
            el:"#container",
            data:{
            /**
             *
             *
             *
             *
              *导航第1栏的数据
             *
             *
             *
             * */
                    count:1,
                    users:[],
                    // 表格数据
                    tableData: [{
                        sno:"",
                        departmentId:"",
                        name:"",
                        major:"",
                        gender:"",
                        tel:"",
                    }],
                    multipleSelection:[],
                    //搜索数据
                    stuInfoByCondition: {
                        sno:"",
                        departmentId:"",
                        name:""
                    },
                    //编辑学生信息
                    editStu:[],
                //获取要删除行的学生信息的id
                id:"",
                //控制新增信息对话框的打开与隐藏
                dialogVisible : false,
                //控制编辑对话框的打开与隐藏
               dialogFormVisible:false,
                //控制删除对话框的打开与隐藏
                centerDialogVisible:false,
                //对话框表单数据
                    stuInfo: {
                        sno:"",
                        departmentId:"",
                        name:"",
                        major:"",
                        gender:"",
                        tel:"",
                    },
                    rules: {
                        sno: [
                            { required: true, message: '请输入学生学号', trigger: 'blur' },
                            { min: 9, max: 12, message: '必填,长度在9至12个字符', trigger: 'blur' }
                        ],
                        departmentId: [
                            { required: true, message: '请输入学生宿舍号', trigger: 'blur' },
                            { min: 2, max: 5, message: '必填,长度在2至5个字符', trigger: 'blur' }
                        ],
                        name: [
                                { required: true, message: '请输入学生姓名', trigger: 'blur' },
                                { min: 2, max: 5, message: '必填,长度在2至5个字符', trigger: 'blur' }
                            ],
                        major: [
                            { required: true, message: '请输入专业名称', trigger: 'blur' },
                            { min: 2, max: 6, message: '必填,长度在2至6个字符', trigger: 'blur' }
                        ],
                        gender: [
                            { required: true, message: '请输入学生性别', trigger: 'blur' },
                            { min: 1, max: 1, message: '必填,长度为1个字符', trigger: 'blur' }
                        ],
                        tel: [
                            { required: true,message: '请输入学生电话号码', trigger: 'blur' },
                            { min: 11, max: 11, message: '必填', trigger: 'blur' }
                        ],
                        },

                    //分页工具条数据
                    currentPage: 1, //当前页码
                    totalCount:100, //总记录数
                    pageSize:5,     //每页显示条数 5

                /**
                 *
                 *
                 *
                 *
                 *导航第2栏的数据
                 *
                 *
                 *
                 * */
                dialogVisible2:false,
                //控制编辑对话框的打开与隐藏
                dialogFormVisible2:false,
                //控制删除对话框的打开与隐藏
                centerDialogVisible2:false,
                tableData2: [{
                    sno:"",
                    departmentId:"",
                    name:"",
                    major:"",
                    gender:"",
                    tel:"",
                }],
                propertyInfo:[],
                /**
                 *
                 *
                 *
                 *
                 *导航第3栏的数据
                 *
                 *
                 *
                 * */
                dialogVisible3:false,
                tableData3: [{
                    visitor:"",
                    gender:"",
                    reason:"",
                    tel:"",
                    date:"",
                }],
                visitorInfo:{
                    visitor:"",
                    gender:"",
                    reason:"",
                    tel:"",
                    date:"",
                }
            },
            // 页面加载完成后，发送异步请求，获取数据
            mounted(){
                this.selectAll();
                this.selectAll3();

            },
            methods:{
                //查询分页数据
                selectAll(){
                    // let _this = this;
                    // axios({
                    //     method:"get",
                    //     url:"http://localhost:8080/selectByPageServlet"
                    // }).then(function (resp){
                    //     _this.tableData = resp.data;
                    // })
                    let _this = this;
                    axios({
                        method:"post",
                        url:"http://localhost:8080/selectByPageAndConditionServlet?currentPage="+ _this.currentPage +"&pageSize="+ _this.pageSize,
                        data:this.stuInfoByCondition
                    }).then(function (resp){
                        _this.tableData = resp.data.rows;
                        _this.totalCount = resp.data.totalCount;
                    })
                },
                change1(){
                    this.count=1
                },
                change2(){
                    this.count=2
                },
                change3(){
                    this.count=3
                },
                change4(){
                    this.count=4
                },
                change5(){
                    this.count=5
                },
                change6(){
                    this.count=6
                },
                //搜索方法
                onSubmit() {
                    /*console.log(this.stuInfoByCondition);*/
                    this.selectAll();
                },
                //对话框内容方法   即新增学生信息方法
                addStuInfo(formName){
                    let that = this;
                    this.$refs[formName].validate((valid) => {
                        if (valid) {

                            axios({
                                method: "post",
                                url: "http://localhost:8080/addStuServlet",
                                data: that.stuInfo
                            }).then(function (resp) {
                                if (resp.data == "success") {
                                    //关闭窗口
                                    that.dialogVisible = false;
                                    that.selectAll();
                                    that.$message({
                                        message: '恭喜你，添加成功',
                                        type: 'success'
                                    });
                                    that.stuInfo = [];
                                }
                            })
                        } else{
                            return false;
                        }

                    })
                },
                onShow(){
                    this.dialogVisible = true;
                },
                closeDialog(){
                    this.dialogVisible = false;
                },
                // 表格方法
                toggleSelection(rows) {
                    if (rows) {
                        rows.forEach(row => {
                            this.$refs.multipleTable.toggleRowSelection(row);
                        });
                    } else {
                        this.$refs.multipleTable.clearSelection();
                    }
                },
                //实现编辑学生数据的数据回显
                editInfo(index,row){

                    this.dialogFormVisible = true;
                    this.editStu = row;
                },
                //编辑学生数据
                editStuInfo(){
                    let that = this;
                    axios({
                        method:"post",
                        url:"http://localhost:8080/editInfoServlet",
                        data:that.editStu
                    }).then(function(resp){
                        if(resp.data == "success"){
                            //关闭窗口
                            that.dialogFormVisible = false;
                            that.selectAll();
                            that.$message({
                                message: '恭喜你，编辑成功',
                                type: 'success'
                            });
                        }
                    })
                },
                //点击删除按钮后出现确认弹框
                isVisible(row){
                    this.centerDialogVisible = true;
                    this.id = row.id;
                },
                //删除学生信息
                deleteStuInfo(){
                    let that = this;
                    axios({
                        method:"post",
                        url:"http://localhost:8080/deleteStuServlet",
                        data:that.id
                    }).then(function(resp){
                        if(resp.data == "success"){
                            //关闭窗口
                            that.centerDialogVisible = false;
                            that.selectAll();
                            that.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }
                    })
                },
                //复选框选中后执行的方法
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                    console.log(this.multipleSelection);
                },


                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                //分页工具条方法
                handleSizeChange(val) {
                    //console.log(`每页 ${val} 条`);
                    this.pageSize = val;
                    this.selectAll();
                },
                handleCurrentChange(val) {
                    //console.log(`当前页: ${val}`);
                    this.currentPage = val;
                    this.selectAll();

                },
                /**
                 *
                 *
                 *
                 *
                 *导航第2栏的方法
                 *
                 *
                 *
                 * */
                onShow2(){
                    this.dialogVisible2 = true;
                },
                onShowDelete(){
                    this.centerFormVisible2 = true;
                },
                /**
                 *
                 *
                 *
                 *
                 *导航第3栏的方法
                 *
                 *
                 *
                 * */
                onShow3(){
                    this.dialogVisible3 = true;
                },
                selectAll3(){
                    let _this = this;
                    axios({
                        method:"get",
                        url:"http://localhost:8080/selectVisitorServlet"
                    }).then(function (resp){
                        _this.tableData3 = resp.data;
                    })
                },
                addVisitorInfo(){
                    let that = this;
                    axios({
                        method:"post",
                        url:"http://localhost:8080/addVisitorServlet",
                        data:that.visitorInfo
                    }).then(function(resp){
                        if(resp.data == "success"){
                            //关闭窗口
                            that.dialogVisible3 = false;
                            that.selectAll3();
                            that.$message({
                                message: '恭喜你，添加成功',
                                type: 'success'
                            });
                            that.visitorInfo = [];
                        }
                    })
                },
                closeDialog3(){
                    this.dialogVisible3 = true;
                },
            }
        });
    </script>
</body>

</html>