<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生宿舍信息管理系统</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="element-ui/lib/index.js"></script>

    <link rel="stylesheet" type="text/css" href="css/user-admin.css">
    <!--element样式-->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <!--    &lt;!&ndash; 引入样式 &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!--    &lt;!&ndash; 引入组件库 &ndash;&gt;-->
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <link rel="icon" href="images/favicon.ico">

</head>

<body>
<div id="container">
    <!-- 顶部 -->
    <div class="banner">
        <form>
            <span class="title">学生宿舍信息管理系统</span>
            <span class="welcome">欢迎,{{user}}</span>
            <a href="http://localhost:8080/login.html" class="logout">退出登录</a>
        </form>
    </div>
    <!-- 主体 -->
    <div class="container">

        <el-row class="tac" style="margin:30px 0 0 20px">
            <el-col :span="50">
                <el-menu
                        default-active="1"
                        class="el-menu-vertical-demo">

                    <el-menu-item index="1" @click="change1()">
                        <i class="el-icon-menu"></i>
                        <span slot="title">宿舍信息</span>
                    </el-menu-item>

                    <el-menu-item index="2" @click="change2()">
                        <i class="el-icon-menu"></i>
                        <span slot="title">宿舍楼电话查询&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    </el-menu-item>

                    <el-menu-item index="3" @click="change3()">
                        <i class="el-icon-menu"></i>
                        <span slot="title">访客登记</span>
                    </el-menu-item>
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span>物品登记</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1" @click="change4()">进楼物品登记</el-menu-item>
                            <el-menu-item index="4-2" @click="change5()">出楼物品登记</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>

                    <el-menu-item index="5" @click="change6()">
                        <i class="el-icon-menu"></i>
                        <span slot="title">报修管理</span>
                    </el-menu-item>

                    <el-menu-item index="6" @click="change7()">
                        <i class="el-icon-menu"></i>
                        <span slot="title">费用明细</span>
                    </el-menu-item>

                </el-menu>
            </el-col>

        </el-row>
        <!--        </div>-->
        <!-- 信息展示 -->
        <div class="showInfo" v-show="count == 1">
            <!--            <el-form :inline="true" :model="stuInfoByCondition" class="demo-form-inline">-->
            <!--                <el-form-item label="学号">-->
            <!--                    <el-input v-model="stuInfoByCondition.sno" placeholder="输入学号搜索"></el-input>-->
            <!--                </el-form-item>-->
            <!--                <el-form-item label="宿舍号">-->
            <!--                    <el-input v-model="stuInfoByCondition.departmentId" placeholder="输入宿舍号搜索"></el-input>-->
            <!--                </el-form-item>-->
            <!--                <el-form-item label="姓名">-->
            <!--                    <el-input v-model="stuInfoByCondition.name" placeholder="输入姓名搜索"></el-input>-->
            <!--                </el-form-item>-->

            <!--                <el-form-item>-->
            <!--                    <el-button type="primary" @click="onSubmit">查询</el-button>-->
            <!--                </el-form-item>-->
            <!--            </el-form>-->


            <div class="searchResults">
                <template>
                    <el-table
                            :data="tableData"
                            tooltip-effect="dark"
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="departmentId"
                                label="宿舍号"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="name"
                                label="成员"
                                align="center">
                        </el-table-column>


                        <el-table-column
                                prop="tel"
                                label="电话号码"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="deptTel"
                                label="宿舍号码"
                                align="center">
                        </el-table-column>

                    </el-table>

                </template>
            </div>

        </div>
        <div class="showInfo" v-show="count == 2">
            <el-form :inline="true" :model="telInfoByCondition" class="demo-form-inline">
                <el-form-item label="宿舍号">
                    <el-input v-model="telInfoByCondition.departmentId" placeholder="输入宿舍号搜索"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="onSubmit2()">查询</el-button>
                </el-form-item>
            </el-form>


            <div class="searchResults">
                <template>
                    <el-table
                            :data="tableData2"
                            tooltip-effect="dark"
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>


                        <el-table-column
                                prop="departmentId"
                                label="宿舍号"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="deptTel"
                                label="电话号码"
                                align="center">
                        </el-table-column>

                    </el-table>

                </template>
            </div>

        </div>
        <div class="showInfo" v-show="count == 3">
            <el-form :label-position="labelPosition" label-width="80px" :model="visitorInfo" class="formSize">
                <el-form-item label="姓名" class="formItem">
                    <el-input v-model="visitorInfo.visitor"></el-input>
                </el-form-item>
                <el-form-item label="性别" class="formItem">
                    <el-input v-model="visitorInfo.gender"></el-input>
                </el-form-item>
                <el-form-item label="事由" class="formItem">
                    <el-input v-model="visitorInfo.reason"></el-input>
                </el-form-item>
                <el-form-item label="联系电话" class="formItem">
                    <el-input v-model="visitorInfo.tel"></el-input>
                </el-form-item>
                <el-form-item label="日期" class="formItem">
                    <el-date-picker type="date" placeholder="选择日期" v-model="visitorInfo.date" value-format="yyyy-MM-dd"
                                    style="width: 100%;"></el-date-picker>
                </el-form-item>
                <el-form-item align="center" class="formItem">
                    <el-button type="primary" @click="addVisitorInfo">提交</el-button>
                    <el-button @click="closeDialog3()">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="showInfo" v-show="count == 4">
            <el-form :label-position="labelPosition" label-width="80px" :model="itemInInfo" class="formSize">
                <el-form-item label="学生姓名" class="formItem">
                    <el-input v-model="itemInInfo.stuName"></el-input>
                </el-form-item>
                <el-form-item label="物品名称" class="formItem">
                    <el-input v-model="itemInInfo.itemName"></el-input>
                </el-form-item>

                <el-form-item label="日期" class="formItem">
                    <el-date-picker type="date" placeholder="选择日期" v-model="itemInInfo.date" value-format="yyyy-MM-dd"
                                    style="width: 100%;"></el-date-picker>
                </el-form-item>

                <el-form-item label="备注" class="formItem">
                    <el-input v-model="itemInInfo.notes"></el-input>
                </el-form-item>

                <el-form-item align="center" class="formItem">
                    <el-button type="primary" @click="addItemInInfo">提交</el-button>
                    <el-button @click="reset4()">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="showInfo" v-show="count == 5">
            <el-form :label-position="labelPosition" label-width="80px" :model="itemOutInfo" class="formSize">
                <el-form-item label="学生姓名" class="formItem">
                    <el-input v-model="itemOutInfo.stuName"></el-input>
                </el-form-item>
                <el-form-item label="物品名称" class="formItem">
                    <el-input v-model="itemOutInfo.itemName"></el-input>
                </el-form-item>

                <el-form-item label="日期" class="formItem">
                    <el-date-picker type="date" placeholder="选择日期" v-model="itemOutInfo.date" value-format="yyyy-MM-dd"
                                    style="width: 100%;"></el-date-picker>
                </el-form-item>

                <el-form-item label="备注" class="formItem">
                    <el-input v-model="itemOutInfo.notes"></el-input>
                </el-form-item>

                <el-form-item align="center" class="formItem">
                    <el-button type="primary" @click="addItemOutInfo">提交</el-button>
                    <el-button @click="reset5()">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="showInfo" v-show="count == 6">
            <el-form :label-position="labelPosition" label-width="80px" :model="repairInfo" class="formSize">
                <el-form-item label="宿舍号" class="formItem">
                    <el-input v-model="repairInfo.departmentId"></el-input>
                </el-form-item>
                <el-form-item label="财产号" class="formItem">
                    <el-input v-model="repairInfo.propertyNum"></el-input>
                </el-form-item>

                <el-form-item label="报修日期" class="formItem">
                    <el-date-picker type="date" placeholder="选择日期" v-model="repairInfo.startDate"
                                    value-format="yyyy-MM-dd"
                                    style="width: 100%;"></el-date-picker>
                </el-form-item>

                <el-form-item label="原因" class="formItem">
                    <el-input v-model="repairInfo.reason"></el-input>
                </el-form-item>

                <el-form-item align="center" class="formItem">
                    <el-button type="primary" @click="addRepairInfo">提交</el-button>
                    <el-button @click="reset6()">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="showInfo" v-show="count == 7">
            <el-form>
                <el-row>
                        <el-button type="primary" @click="selectAll7_1">查询本月</el-button>
                        <el-button type="primary" @click="selectAll7_2()">查询所有</el-button>
                </el-row>
            </el-form>
            <div class="searchResults">
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="tableData7"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="departmentId"
                                label="宿舍号"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="waterBill"
                                label="水费"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="elecBill"
                                label="电费"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                prop="date"
                                label="日期"
                                align="center">
                        </el-table-column>

                    </el-table>
                </template>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#container",
        data: {
            /**
             *
             *
             *
             *
             *导航第1栏的数据
             *
             *
             *
             * */
            count: 1,
            user: "",
            // 表格数据
            tableData: [{
                departmentId: "",
                name: "",
                deptTel: ""
            }],
            multipleSelection: [],
            //搜索数据
            stuInfoByCondition: {
                sno: "",
                departmentId: "",
                name: ""
            },
            getUserInfo: [{
                sno: "",
                name: "",
            }
            ],
            /**
             *
             *
             *
             *
             *导航第2栏的数据
             *
             *
             *
             * */
            telInfoByCondition: {
                departmentId: "",
            },
            // 表格数据
            tableData2: [{}],
            multipleSelection2: [],
            /**
             *
             *
             *
             *
             *导航第3栏的数据
             *
             *
             *
             * */
            dialogVisible3: false,
            tableData3: [{
                visitor: "",
                gender: "",
                reason: "",
                tel: "",
                date: "",
            }],
            visitorInfo: {
                visitor: "",
                gender: "",
                reason: "",
                tel: "",
                date: "",
            },
            /**
             *
             *
             *
             *
             *导航第4栏的数据
             *
             *
             *
             * */
            itemInInfo: {
                stuName: "",
                itemName: "",
                date: "",
                notes: "",
            },
            /**
             *
             *
             *
             *
             *导航第5栏的数据
             *
             *
             *
             * */

            itemOutInfo: {
                stuName: "",
                itemName: "",
                date: "",
                notes: "",
            },
            /**
             *
             *
             *
             *
             *导航第6栏的数据
             *
             *
             *
             * */
            repairInfo: {
                departmentId: "",
                propertyNum: "",
                startDate: "",
                reason: "",
            },
            /**
             *
             *
             *
             *
             *导航第6栏的数据
             *
             *
             *
             * */
            tableData7: [{
                departmentId: "",
                waterBill: "",
                elecBill: "",
                date: "",
            }],

        },
        // 页面加载完成后，发送异步请求，获取数据
        mounted() {
            this.loginUser();
            this.selectAll();
            this.selectAll2();
            this.selectAll7_1();
        },

        methods: {

            //查询分页数据
            selectAll() {
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/selectDeptInfo",
                }).then(function (resp) {
                    _this.tableData = resp.data;
                })

            },
            loginUser() {
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/getCookie",
                }).then(function (resp) {
                    _this.user = resp.data;
                })
            },
            change1() {
                this.count = 1
            },
            change2() {
                this.count = 2
            },
            change3() {
                this.count = 3
            },
            change4() {
                this.count = 4
            },
            change5() {
                this.count = 5
            },
            change6() {
                this.count = 6
            },
            change7() {
                this.count = 7
            },

            //搜索方法
            onSubmit() {
                //console.log(this.stuInfoByCondition);
                this.selectAll();
            },

            // 表格方法
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },


            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            /**
             *
             *
             *
             *
             *导航第2栏的方法
             *
             *
             *
             * */
            onSubmit2() {
                if (this.telInfoByCondition.departmentId == null || this.telInfoByCondition.departmentId == "")
                    this.selectAll2();
                else
                    this.selectDeptTelByCondition();
            },
            selectAll2() {
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/selectDeptTel",
                }).then(function (resp) {
                    _this.tableData2 = resp.data;
                })
            },
            selectDeptTelByCondition() {
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/selectDeptTelByCondition",
                    data: this.telInfoByCondition
                }).then(function (resp) {
                    _this.tableData2 = resp.data;
                })
            },
            /**
             *
             *
             *
             *
             *导航第3栏的方法
             *
             *
             *
             * */
            addVisitorInfo() {
                let that = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/addVisitor",
                    data: that.visitorInfo
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //关闭窗口
                        that.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                        that.visitorInfo = [];
                    }
                })
            },
            /**
             *
             *
             *
             *
             *导航第4栏的方法
             *
             *
             *
             * */
            addItemInInfo() {
                let that = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/addItemIn",
                    data: that.itemInInfo
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //关闭窗口
                        that.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                        that.itemInInfo = [];
                    }
                })
            },
            reset4() {
                this.itemInInfo = [];
            },
            /**
             *
             *
             *
             *
             *导航第5栏的方法
             *
             *
             *
             * */
            addItemOutInfo() {
                let that = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/addItemOut",
                    data: that.itemOutInfo
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //关闭窗口
                        that.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                        that.itemOutInfo = [];
                    }
                })
            },
            reset5() {
                this.itemOutInfo = [];
            },
            /**
             *
             *
             *
             *
             *导航第6栏的方法
             *
             *
             *
             * */
            addRepairInfo() {
                let that = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/addRepairInfo",
                    data: that.repairInfo
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //关闭窗口
                        that.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                        that.repairInfo = [];
                    }
                })
            },
            reset6() {
                this.repairInfo = [];
            },
            /**
             *
             *
             *
             *
             *导航第7栏的方法
             *
             *
             *
             * */
            selectAll7_1() {
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/selectDeptBill",
                }).then(function (resp) {
                    _this.tableData7 = resp.data;
                })
            },
            selectAll7_2() {
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/selectAllBill",
                }).then(function (resp) {
                    _this.tableData7 = resp.data;
                })
            },
        }
    });
</script>

<style>
    .formSize {
        width: 500px;
        margin: 50px 0 0 300px;
    }
</style>
</body>

</html>