<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生宿舍信息管理系统</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="element-ui/lib/index.js"></script>

    <link rel="stylesheet" type="text/css" href="css/user-admin.css">
    <!--element样式-->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

</head>

<body>
<!-- 顶部 -->
<div class="banner">
    <form>
        <span>学生宿舍信息管理系统</span>
        <h1>{{getUserInfo.name}},欢迎您</h1>
        <a href="http://localhost:8080/login.html" class="logout">退出登录</a>
    </form>
</div>
<!-- 主体 -->
<div class="container" id="container">

    <el-row class="tac" style="margin:30px 0 0 20px">
        <el-col :span="50">
            <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo">

                <el-menu-item index="1" @click="change1()">
                    <i class="el-icon-menu"></i>
                    <span slot="title">宿舍信息</span>
                </el-menu-item>

                <el-menu-item index="2" @click="change2()">
                    <i class="el-icon-menu"></i>
                    <span slot="title">宿舍楼电话查询</span>
                </el-menu-item>

                <el-menu-item index="3" @click="change3()">
                    <i class="el-icon-menu"></i>
                    <span slot="title">出入登记</span>
                </el-menu-item>

                <el-menu-item index="4" @click="change4()">
                    <i class="el-icon-menu"></i>
                    <span slot="title">报修管理</span>
                </el-menu-item>

                <el-menu-item index="5" @click="change5()">
                    <i class="el-icon-menu"></i>
                    <span slot="title">费用明细</span>
                </el-menu-item>

            </el-menu>
        </el-col>

    </el-row>
    <!--        </div>-->
    <!-- 信息展示 -->
    <div class="showInfo" v-show="count == 1">
        <el-form :inline="true" :model="stuInfoByCondition" class="demo-form-inline">
            <el-form-item label="学号">
                <el-input v-model="stuInfoByCondition.sno" placeholder="输入学号搜索"></el-input>
            </el-form-item>
            <el-form-item label="宿舍号">
                <el-input v-model="stuInfoByCondition.departmentId" placeholder="输入宿舍号搜索"></el-input>
            </el-form-item>
            <el-form-item label="姓名">
                <el-input v-model="stuInfoByCondition.name" placeholder="输入姓名搜索"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
        </el-form>





        <div class="searchResults">
            <template>
                <el-table
                        :data="tableData"
                        tooltip-effect="dark"
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            prop="sno"
                            label="学号"
                            align="center">
                    </el-table-column>

                    <el-table-column
                            prop="name"
                            label="姓名"
                            align="center">
                    </el-table-column>

                    <el-table-column
                            prop="gender"
                            label="性别"
                            align="center">
                    </el-table-column>

                    <el-table-column
                            prop="tel"
                            label="电话号码"
                            align="center">
                    </el-table-column>

                </el-table>

            </template>
        </div>

    </div>


</div>

<script>
    new Vue({
        el:"#container",
        data:{
            count:1,
            users:[],
            // 表格数据
            tableData: [{
            }],
            multipleSelection:[],
            //搜索数据
            stuInfoByCondition: {
                sno:"",
                departmentId:"",
                name:""
            },
            getUserInfo:[{
                sno:"",
                name:"",
                }
            ],

        },
        // 页面加载完成后，发送异步请求，获取数据
        // mounted(){
        //     let _this = this;
        //     axios({
        //         method:"post",
        //         url:"http://localhost:8080/loginServlet"
        //     }).then(function (resp){
        //         _this.getUserName = resp.data;
        //     })
        // },
        methods:{

            //查询分页数据
            selectAll(){
                let _this = this;
                axios({
                    method:"get",
                    url:"http://localhost:8080/selectByPageServlet"
                }).then(function (resp){
                    _this.tableData = resp.data;
                })
                // let _this = this;
                // axios({
                //     method:"post",
                //     url:"http://localhost:8080/selectByPageAndConditionServlet?currentPage="+ _this.currentPage +"&pageSize="+ _this.pageSize,
                //     data:this.stuInfoByCondition
                // }).then(function (resp){
                //     _this.tableData = resp.data.rows;
                //     _this.totalCount = resp.data.totalCount;
                // })
            },
            change1(){
                this.count=1
            },
            change2(){
                this.count=2
            },
            change3(){
                this.count=3
            },
            change4(){
                this.count=4
            },
            change5(){
                this.count=5
            },

            //搜索方法
            onSubmit() {
                //console.log(this.stuInfoByCondition);
                this.selectAll();
            },

            // 表格方法
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },



            resetForm(formName) {
                this.$refs[formName].resetFields();
            },

        }
    });
</script>
</body>

</html>